*{
    margin: 0%;
    padding: 0%;
    font-size: 20px;
   
}
h1{
   font-size: 30px;
    color: rgb(5, 9, 11);
    position: relative;
}
body{
    background-color: rgb(131, 239, 239);
    background-position: center;

}


.photo:hover{
    background-color: #5994c4;
    cursor: pointer;
}
